<div id="outerWrapper">
        <ul class="navbar">
            <li class="navSquare"><a href="/" class="navlink activePage">Home</a></li>
            <li class="navSquare"><a href="/department" class="navlink">Department Interactions</a></li>
            <li class="navSquare"><a href="/patient" class="navlink">Patient Interactions</a></li>
            <li class="navSquare"><a href="/branch" class="navlink">Branch Interactions</a></li>
            <li class="navSquare"><a href="/doctor" class="navlink">Doctor Interactions</a></li>
            <li class="navSquare"><a href="/doctor_branch" class="navlink">Doctor/Branch Interactions</a></li>
            <li class="navSquare"><a href="/doctor_department" class="navlink">Doctor/Department Interactions</a></li>
        </ul>
</div>
        <h1 class="pageTitle">Doctor/Branch Relationship Interactions</h1>
      <fieldset>
        <h3>Add a new doctor/branch relationship:</h3>
        <form id="adddoctor_branch" action="/doctor_branch" method="post">
            Branch:
            <select name="BId">
                {{#each branches}}
                <option value="{{Id}}">{{Name}}</option>
                {{/each}}
            </select>
            <br />
            Doctor:
            <select name="DocId">
                {{#each doctors}}
                <option value="{{Id}}">{{DoctorName}}</option>
                {{/each}}
            </select>
            <br />
            <input value="Submit" type="submit" style="margin-top:20px" />
        </form>
      </fieldset>
        <br />
        <h3 class="sectionHeader">Current doctor/branch associations:</h3>
        <table border="1" class="resultTable">
            <thead>
                <tr class="tableHeadRow">
                    <th>Branch</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                {{#each docbranches}}
                <tr class="displayTableRow">
                    <td>{{Branch}}</td>
                    <td>{{Doctor}}</td>                    
                    <td>
                        <button onclick="deleteDoctorBranch({{BId}},{{DocId}})">Delete</button>
                </tr>
                {{/each}}
            </tbody>
        </table>
